select option {
    background-color: #212529;
    color: white;
}
.d-none {
    display: none;
}

.etiqueta {
    width: 78.5mm;
    height: 57.6mm;
    margin: 3px 3px 5px 7px;
    visibility: visible;
    padding: 4px;
}

.etiqueta-correction {
    margin-left: 20px;
    margin-bottom: 5px;
    color: #fff;
}

.font_etiqueta_tamanho {
    font-size: 40px;
}

.font_etiqueta {
    text-transform: uppercase;
    font-size: 13px;
}

.numero_barcode {
    margin: 0 0 0 53px;
}
